if ARCH_IPQ5018

config SYS_CPU
       default "ipq5018"

config SYS_BOARD
       default "ipq5018"

config SYS_VENDOR
       default "qca/arm"

config SYS_CONFIG_NAME
       default "ipq5018"

config IPQ_I2C
	bool "Enable i2c support on IPQ platform"

config USB_XHCI_IPQ
	bool "Enable usb support for ipq5018"

config PCI_IPQ
	bool "Enable pci support for ipq5018"

config MMC_FLASH
	bool "Enable MMC flash support for ipq5018"

config IPQ_TZT
	bool "Enable TZ test command for ipq5018"

config UBI_WRITE
	bool "Enable ubi volume write command for ipq5018"

config QPIC_SERIAL
	bool "Enable QPIC serial spi nand  for ipq5018"

config IPQ_TINY
	bool "Enable Tiny support for ipq5018"

config IPQ_MTD_NOR
	bool "Register nor in MTD framework for ipq5018"

config IPQ_TINY_SPI_NOR
	bool "This config helps to update spi-nor related updated in ipq5018"

config NAND_FLASH
	bool "Enable NAND driver for ipq5018"

config GEPHY
	bool "Enable Internel GEPHY for ipq5018"

config ART_COMPRESSED
	bool "Enable uncompress support for ipq5018"

config BOARD_TYPES
	bool "Support board_type member in global data"
	default y

config LIST_OF_CONFIG_NAMES_SUPPORT
	bool "List of config names support"

config LIST_FUSE
	bool "Enable fuse list command"
	default n

config 256MB_RAM
	bool "Board has only 256MB RAM"
	default n
	help
		Select this if your board has only 256MB RAM installed

config IPQ5018_MR3000D_CI
	bool "For ipq5018 mr3000d ci support"
	default n
	help
		Enable support for ipq5018 mr3000d ci support

config IPQ5018_GL_B3000
	bool "For ipq5018 gl b3000 support"
	select 256MB_RAM
	default n
	help
		Enable support for ipq5018 gl b3000 support

config IPQ5018_CUCC_VS010
	bool "For ipq5018 cucc vs010 support"
	select 256MB_RAM
	default n
	help
		Enable support for ipq5018 cucc vs010 support

config IPQ5018_RUIJIE_MA3063
	bool "For ipq5018 ruijie ma3063 support"
	select 256MB_RAM
	default n
	help
		Enable support for ipq5018 ruijie ma3063 support

config IPQ5018_PZ_L8
	bool "For ipq5018 pz l8 support"
	select 256MB_RAM
	default n
	help
		Enable support for ipq5018 pz l8 support

config IPQ5018_CMCC_RAX3000Q
	bool "For ipq5018 cmcc rax3000q support"
	select 256MB_RAM
	default n
	help
		Enable support for ipq5018 cmcc rax3000q support
endif
